@charset "utf-8";
*{margin: 0;padding: 0;}
html,body{width: 100%;height: 100%;}
#wrap{
	width: 100%;height: 100%;
	background: #eff3f6;}
.leftMeun{
	position: absolute;
	width: 200px;
	height: 100%;
	background: #4d5e70}
.leftMeun>div{
	padding-left: 20px;
}

/*左侧菜单栏*/
#logoDiv{
	padding-top: 20px;
	padding-bottom: 20px;
	height: 70px;
	background-color: #354457;
	font-size: 14px;
	color: #fff;
}
#logoDiv #logo{
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
#personInfor{
	margin: 0 5px;
	padding: 10px 5px 10px 20px;
	color: #b3bcc5;
	border-bottom: 1px solid #354457;
}
#personInfor p{
	margin-left: -5px;
	font-size: 12px;
}
#personInfor a {
	color: #B3BCC5;
	text-decoration: underline;
}
.meun-title {
	color: #828e9a;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
.meun-item {
	line-height: 40px;
	height: 40px;
	color: #aab1b7;
	cursor: pointer;
}
.meun-item a {
	color: #aab1b7;
	display: block;
}
.meun-item-active a {
	color: #c4c7cc;
	display: block;
}
.meun-item img {
	padding-right: 8px;
	height: 20px;
}
.meun-item-active {
	background-color: #3d4e60;
	border-right: 4px solid #647f9d;
	color: #fff;
}
/*右侧具体内容栏目*/
#rightContent{
	box-sizing: border-box;
	float: left;
	padding-left: 200px;
	overflow: hidden;
	color: #717592;
	clear: both;
}
#rightContent .tab-pane{
	display: none;
}
#rightContent .tab-pane-active{
	display: block;
}
#rightContent .check-div img{
	overflow: hidden;
}






























