@charset "utf-8";
*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;color: #666;}
html,body{width: 100%;height: 100%;}
body{font:12px/1.5 "微软雅黑";}
.container{width: 100%;height: 100%;}
.clearfix{*zoom:1;}
.clearfix::after{content: "";display: table;clear: both;}
/*header部分*/
header{margin: 10px 100px;}
.top_logo{float: left;}
.top_links{float: right;margin-top: 55px;}
.top_links li{float: left;margin: 0 10px;}
.top_links li a:hover,.top_links li a:visited{text-decoration: underline;color: #000;}
/*content部分*/
section{position: relative;width: 100%;}
.box_bg{width: 100%;overflow: hidden;}
.box_bg img{}
.box_login{position: absolute;left: 900px;top: 40px;padding: 20px;background: rgba(0,0,0,.2);border-radius: 10px;}
.login_group{}
.login_group label{display: block;font-size: 14px;font-weight: bold;color: #fff;height: 30px;line-height: 30px;}
.login_group input{margin: 5px;padding: 5px;width: 200px;height: 20px;line-height: 20px;border: none;border-radius: 5px; outline: none;}
.login_group input[name='yzm']{width: 100px;}
.login_group input[type='submit']{width: 100%;height: 30px;line-height: 30px;padding: 2px 5px 5px 5px;color: #fff}
.login_group .reg{padding: 5px 10px 0 0;text-align: right;color: #fff;}
.login_group .reg a{color: #00f;}
/*footer部分*/
footer{margin: 20px 100px 0 100px;text-align: center;color: #999;}






